<div class="container">
  <div class="card">
    <h1>Yangi e'lon</h1>
    <form class="form" (ngSubmit)="submit()">
      <label
        >Turi<select name="type" [(ngModel)]="type">
          <option value="lost">Yo'qolgan</option>
          <option value="found">Topilgan</option>
        </select></label
      ><label>Sarlavha<input name="title" [(ngModel)]="title" required /></label
      ><label
        >Tavsif<textarea
          name="description"
          [(ngModel)]="description"
        ></textarea></label
      ><label
        >Joylashuv<input
          name="location"
          [(ngModel)]="location"
          required /></label
      ><label
        >Kategoriya<select
          name="category_id"
          [(ngModel)]="category_id"
          required
        >
          <option *ngFor="let c of categories" [value]="c.id">
            {{c.name}}
          </option>
        </select></label
      ><label
        >Sana<input
          name="event_date"
          type="date"
          [(ngModel)]="event_date"
          required /></label
      ><ng-container *ngIf="type==='found'"
        ><label
          >Maxfiy savol<input
            name="secret_question"
            [(ngModel)]="secret_question"
            required /></label
        ><label
          >Maxfiy javob<input
            name="secret_answer"
            [(ngModel)]="secret_answer"
            required /></label></ng-container
      ><label
        >Rasmlar (1-3 ta)<input
          type="file"
          accept="image/*"
          multiple
          (change)="pick($event)" /></label
      ><button class="btn">Yaratish</button>
    </form>
    <p class="error">{{error}}</p>
  </div>
</div>
